<div #mapEl id="map" style="width:100%; height:100vh; position:relative;"></div>
<button
  pButton
  type="button"
  icon="pi pi-cog"
  class="p-button-rounded"
  (click)="overlayPanel.toggle($event)"
  style="position:absolute; top:20px; left:20px; z-index:10000;"
></button>
<p-overlayPanel #overlayPanel>
  <div style="display: flex; flex-direction: column; gap: 0.2rem;">
    <button pButton type="button" label="Romania" (click)="resetView()"></button>
    <theme-switcher></theme-switcher>
    <!-- Poți adăuga și alte controale aici -->
  </div>
</p-overlayPanel>

